# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
*.xlsx
*.csv
*.docx
*.doc
*.txt
*.env
*.sql
*.png
*.jpg

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Data & DB
data/
db/*.sql
db/*.md
os_tracking_app.jsx

# Project memory (local only)
memorycontext.md

#local md file
dashboard_specification.md
development_documentation.md
SCROLL_AND_CODE_FEATURES.md